.project-card-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.card-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 2.59rem 1rem 2.59rem;
    width: 20rem;
    height: 24rem;
    border: 0.1rem solid rgb(247, 239, 239);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #fffbfb;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0.1rem 0.1rem #8080a2;
}
.uba-img {
    width: 20rem;
    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.Description {
    background-color: #e2eaee;
    width: 20rem;
    height: 30rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: left;
}

.pad {
    padding: 0.5rem 0rem 0rem 0.5rem;
    color: rgb(30, 114, 187);
}