.detail-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    column-gap: 3rem;
    row-gap: 3rem;
    margin: 3rem auto;
}

.detail-list .detail {
    flex-basis: 25.05%;
}